* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    display: grid;
    grid-template-rows: 6em auto 300px 6rem 2rem;
    text-align: center;
    font-size: 2rem;
    align-content: flex-start;
}

h1 {
    text-align: center;
}

#letters {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 1em 0;
}

#letters div {
    margin: 5px;
    padding-top: 0.5em;
    border: 1.7mm ridge rgb(224, 150, 191);
    width: 50px;
}

#letters div.used {
    background-color: rgb(233, 200, 226);
    opacity: 0.33;
}

#letters div:hover {
    background-color: rgb(233, 200, 226);
}

#clue p {
    margin: 0.2em;
    font-size: 1rem;
    letter-spacing: 0.5em;
}

#gameover p {
    display: none;
    text-align: center;
    font-size: 1rem;
}

#images {
    text-align: center;
}